{% load static %}


<!-- Required meta tags -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<title>Hotel Seven Star | Management System</title>
<!--favicon-->
<link rel="icon" href="{% static 'backend/images/favicon-32x32.png' %}" type="image/png"/>
<!-- Vector CSS -->
<link href="{% static 'backend/plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet"/>
<!--plugins-->
<link href="{% static 'backend/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet"/>
<link href="{% static 'backend/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet"/>
<link href="{% static 'backend/plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet"/>
<!-- loader-->
<link href="{% static 'backend/css/pace.min.css' %}" rel="stylesheet"/>
<script src="{% static 'backend/js/pace.min.js' %}"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'backend/css/bootstrap.min.css' %}"/>
<!-- Icons CSS -->
<link rel="stylesheet" href="{% static 'backend/css/icons.css' %}"/>
<!-- App CSS -->
<link rel="stylesheet" href="{% static 'backend/css/app.css' %}"/>
<link rel="stylesheet" href="{% static 'backend/css/dark-sidebar.css' %}"/>
<link rel="stylesheet" href="{% static 'backend/css/dark-theme.css' %}"/>
<link href="{% static 'backend/plugins/datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'backend/plugins/datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
