{% load static %}
<script src="{% static 'backend/js/jquery.min.js' %}"></script>
<script src="{% static 'backend/js/popper.min.js' %}"></script>
<script src="{% static 'backend/js/bootstrap.min.js' %}"></script>
<script src="{% static 'backend/plugins/simplebar/js/simplebar.min.js' %}"></script>
<script src="{% static 'backend/plugins/metismenu/js/metisMenu.min.js' %}"></script>
<script src="{% static 'backend/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'backend/plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'backend/plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'backend/plugins/vectormap/jquery-jvectormap-in-mill.js' %}"></script>
<script src="{% static 'backend/plugins/vectormap/jquery-jvectormap-us-aea-en.js' %}"></script>
<script src="{% static 'backend/plugins/vectormap/jquery-jvectormap-uk-mill-en.js' %}"></script>
<script src="{% static 'backend/plugins/vectormap/jquery-jvectormap-au-mill.js' %}"></script>
<script src="{% static 'backend/plugins/apexcharts-bundle/js/apexcharts.min.js' %}"></script>
<script src="{% static 'backend/js/index2.js' %}"></script>
<script src="{% static 'backend/js/app.js' %}"></script>
<script src="{% static 'backend/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

