<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'frontend/layouts/header.html' %}
</head>
<body>
<!-- LOADER -->
<div id="loader-overflow">
    <div id="loader3" class="loader-cont">Please enable JS</div>
</div>
<div class="chr-wrapper">
    <!-- Header Hotel Start -->
    {% include 'frontend/layouts/navheader.html' %}
    <!-- Header Hotel End -->
    <!--Banner Wrap Start-->
    {% include 'frontend/layouts/sidebar.html' %}
    <!--Banner Wrap End-->
    {% block content %}

    {% endblock %}
    <!--News Letter Wrap Start-->
    {% include 'frontend/layouts/newsletter.html' %}
    <!--News Letter Wrap End-->
    <!--Hotel Footer Start-->
    {% include 'frontend/layouts/footer.html' %}
    <!--Hotel Footer End-->
    <div class="osr-copyright th-bg">
        <p>Copyrights 2016-17. All rights reserved by:<a target="_blank" href="http://themeforest.net/user/oscarthemes">
            OSCAR THEMES</a></p>
    </div>
</div>
{% include 'frontend/layouts/script.html' %}
</body>
</html>