{% load static %}


<!-- Plugin jQuery Library -->
<script src="{% static 'frontend/js/jquery.js' %}"></script>
<!-- Bootstrap jQuery Lifrontend/brary -->
<script src="{% static 'frontend/js/bootstrap.js' %}"></script>
<!-- Parallax jQuery Libfrontend/rary -->
<script src="{% static 'frontend/js/parallax.js' %}"></script>
<!-- Image Loader jQueryfrontend/ Library -->
<script src="{% static 'frontend/js/imageloader.js' %}"></script>
<!-- Browser Detect jQuefrontend/ry Library -->
<script src="{% static 'frontend/js/browser-detect.js' %}"></script>
<!-- Magnafic-popup jQuefrontend/ry Library -->
<script src="{% static 'frontend/js/magnafic-popup.js' %}"></script>
<!-- Twitter jQuery Librfrontend/ary -->
<script src="{% static 'frontend/js/twitter.js' %}"></script>
<!-- Twitter jQuery Librfrontend/ary -->
<script src="{% static 'frontend/js/flickr.js' %}"></script>
<!-- Responsive Menu jQufrontend/ery Library -->
<script src="{% static 'frontend/js/responsive-menu.js' %}"></script>
<!-- Slick Slider jQueryfrontend/ Library -->
<script src="{% static 'frontend/js/slick.js' %}"></script>
<!-- 3D Effect jQuery Lifrontend/brary -->
<script src="{% static 'frontend/js/3deffect.js' %}"></script>
<!-- Isotope jQuery Librfrontend/ary -->
<script src="{% static 'frontend/js/isotope.js' %}"></script>
<!-- Date Picker jQuery frontend/Library -->
<script src="{% static 'frontend/js/datepicker.js' %}"></script>
<!-- Custom jQuery Librafrontend/ry -->
<script src="{% static 'frontend/js/custom.js' %}"></script>

